body{
    background: #BDBDBD;
    width: 100%;
}
/* nav-bar */
.navigation{
    font-size: 25px;
}
/* tagline html */
.jumbotron{
    background-image: url(https://github.com/humbi-exe/grupo-dos/blob/main/website1/assets/img/bg.jpg?raw=true);
    background-repeat: no-repeat;
    background-position: center top;
    height: 700px;
    background-size: cover;
    margin-top: 0%;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 120px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.subtitle{
    width: 100%;
    height: 50px;
    text-align: center;
    /*text-justify: distribute;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/*Aquí comienza el portfolio*/
#portfolio-container {
    width: 100%;
}

#titulo-imagen1 {
    color: rgba(0, 0,255,0.7);
}
#titulo-imagen2 {
    color: rgba(0, 0,255,0.7);
}
#titulo-imagen3 {
    color: rgba(0, 0,255,0.7);
}

#portfolio-texto{
    margin-left: 0px;
}

#parrafo-portfolio{
    margin-left: 15px;
    text-align: justify;
    text-justify: distribute;
    
}
/*Aquí termina el portfolio*/

