<div class="card mb-3" id="first-heading">
    <div class="row no-gutters">
      <div class="col-md-9">
        <div class="card-body">
          <h1 class="card-title">This First Heading <strong>Will Catch Yor Eye</strong></h1>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        </div>
      </div>
      <div class="col-md-3">
        <img src="https://raw.githubusercontent.com/humbi-exe/grupo-dos/master/website1/assets/img/1.jpg" class="card-img" alt="...">
      </div>
    </div>
</div>