<!-- your html code here -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
</head>
<body>
 
<div class="container-fluid" id="portfolio-container">
  <div class="row">
    <div class="col-sm-12"><h1 id="portfolio-texto">Portfolio</h1></div>
    
    <p id="parrafo-portfolio">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    <div class="col-sm-4">
      <img src="./assets/img/big-project-image.png" alt="img" style="width: 100%">  
      <h3 id="titulo-imagen1"><b>Project Name</b></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
        <img src="./assets/img/big-project-image.png" alt="img" style="width: 100%"> 
      <h3 id="titulo-imagen2"><b>Project Name</b></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
        <img src="./assets/img/big-project-image.png" alt="img" style="width: 100%"> 
      <h3 id="titulo-imagen3"><b>Project Name</b></h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

</body>
</html>
