<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display">The Second Heading </h1> <h1> Is The Pretty Cool Too.</h1>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
</div>
<div class="col-sm-3">
    <div id="services">
      <img src="./assets/img/2.jpg" alt="img" style="width: 100%" > </img>
    </div>
</div>
</div> -->

  <div class="card mb-3" id="first-heading">
    <!-- aquí de definen las filas -->
    <div class="row no-gutters"> 
      <!-- aquí se define la primera columna de la fila 1 con un ancho de 3 slots -->
      <div class="col-md-3"> 
        <img src="./assets/img/2.jpg" class="card-img" alt="...">
      </div>
      <!-- aquí se define la segunda columna de la fila 1 con un ancho de 9 slots -->
      <div class="col-md-9">
        <div class="card-body">
          <h1 class="card-title">This Second Heading <strong>Is The Pretty Cool Too.</strong></h1>
          <p class="card-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
        </div>
      </div>
      <!-- aquí empezaría el código para agregar una segunda fila -->
    </div>
</div>
