<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The Second Heading </h1> <h1> Is The Pretty Cool Too.</h1>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
</div>
<div class="col-sm-4">
      <img src="./assets/img/2.jpg" alt="img" style="width: 100%" > </img>
</div>

<!-- recomendación 
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
      <h1>The Second Heading </h1> <h1> Is The Pretty Cool Too.</h1>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>  

      <div class="col-sm-6">
      <img src="./assets/img/2.jpg" alt="img" style="width: 100%" > </img>
      </div>    
    </div>
  </div>  
</div>  
-->